@import "../../responsive.scss";

.homePage {
  display: flex;
  height: 100%;
  font-family: 'Roboto', sans-serif;

  .textContainer {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include lg{
        padding-right: 50px;
      }

      @include md{
        padding: 0;
      }

      @include sm{
        justify-content: flex-start;
      }

      .title {
        font-size: 64px;

        @include lg {
          font-size: 48px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
          display: none;
        }

        h1 {
          font-size: 36px;

          @include lg {
            font-size: 32px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    // background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    @include md {
      display: none;
    }

    img {
      width: 135%; // Base width
      margin-top: 150px;
      position: absolute;
      right: -150px;
    
      @include lg {
        width: 105%; // Adjusted width for large screens
      }
    
      transition: all 0.4s ease; // Smooth transition for hover effect
    
      @include sm {
        display: none; // Hide on small screens
      }
    
      &:hover {
        transform: scale(1.1); // Scale up the image slightly on hover
        cursor: pointer; // Change cursor to pointer on hover
      }
    }
    
  }

  
}
